#########################################################################################################
##	This is an example .gitignore file for Vivado
#########################################################################################################
#########
#Exclude all
#########
*

!*/
!*/*.bd
!*/hdl/*
!*/*/ip/*/*.xci

!.gitignore
